In [ ]:
import pandas as pd
import networkx as nx

In [ ]:
df = pd.read_csv('FakeNews_Data_Nov09.csv')

In [ ]:
df

,user_id,followers_count,following_count,status_count,created_at,favorites_count,verified
0,965662700457033728,22,4,5140,Mon Feb 19 19:01:43 +0000 2018,0,False
1,18000449,244,341,74854,Tue Dec 09 19:56:33 +0000 2008,5605,False
2,2736948289,50,362,140,Sat Aug 16 09:59:12 +0000 2014,367,False
3,708353900961603584,425,353,14438,Fri Mar 11 18:08:25 +0000 2016,17678,False
4,187021634,269,1112,10360,Sun Sep 05 01:40:44 +0000 2010,6515,False
...,...,...,...,...,...,...,...
42903,728280729457557504,5961,599,6927,Thu May 05 17:50:31 +0000 2016,1503,False
42904,40379244,1828,601,197604,Sat May 16 01:19:01 +0000 2009,1102,False
42905,2357114090,1257,1942,19969,Sat Feb 22 23:44:55 +0000 2014,4034,False
42906,4533292933,4560,4881,91900,Sat Dec 12 00:47:43 +0000 2015,44886,False
42907,84234962,22,37,1198,Thu Oct 22 03:56:12 +0000 2009,0,False

### User Followers to Following ratio

In [ ]:
def ratio(df):
    if(df['following_count'] == 0):
        df['followers_following_ratio'] = 0
    else:
        df['followers_following_ratio'] = df['followers_count']/df['following_count']
    return df

In [ ]:
dfFF_Ratio = df.apply(ratio,axis=1)

In [ ]:
dfFF_Ratio

,user_id,followers_count,following_count,status_count,created_at,favorites_count,verified,followers_following_ratio
0,965662700457033728,22,4,5140,Mon Feb 19 19:01:43 +0000 2018,0,False,5.500000
1,18000449,244,341,74854,Tue Dec 09 19:56:33 +0000 2008,5605,False,0.715543
2,2736948289,50,362,140,Sat Aug 16 09:59:12 +0000 2014,367,False,0.138122
3,708353900961603584,425,353,14438,Fri Mar 11 18:08:25 +0000 2016,17678,False,1.203966
4,187021634,269,1112,10360,Sun Sep 05 01:40:44 +0000 2010,6515,False,0.241906
...,...,...,...,...,...,...,...,...
42903,728280729457557504,5961,599,6927,Thu May 05 17:50:31 +0000 2016,1503,False,9.951586
42904,40379244,1828,601,197604,Sat May 16 01:19:01 +0000 2009,1102,False,3.041597
42905,2357114090,1257,1942,19969,Sat Feb 22 23:44:55 +0000 2014,4034,False,0.647271
42906,4533292933,4560,4881,91900,Sat Dec 12 00:47:43 +0000 2015,44886,False,0.934235
42907,84234962,22,37,1198,Thu Oct 22 03:56:12 +0000 2009,0,False,0.594595

In [ ]:
sorted_dfFF_Ratio = dfFF_Ratio.sort_values(by=['followers_following_ratio','user_id'], ascending=False)
sorted_dfFF_Ratio

,user_id,followers_count,following_count,status_count,created_at,favorites_count,verified,followers_following_ratio
32585,5402612,45326070,3,36737,Sun Apr 22 14:42:37 +0000 2007,0,True,15108690.0
5680,1362191299,1144904,1,14373,Thu Apr 18 15:15:27 +0000 2013,2,True,1144904.0
28077,1362191299,1144904,1,14373,Thu Apr 18 15:15:27 +0000 2013,2,True,1144904.0
34428,1362191299,1144904,1,14373,Thu Apr 18 15:15:27 +0000 2013,2,True,1144904.0
40134,1017158666,802064,1,1918543,Mon Dec 17 10:23:11 +0000 2012,139,True,802064.0
...,...,...,...,...,...,...,...,...
12939,17459601,295,0,35392,Tue Nov 18 05:29:00 +0000 2008,0,False,0.0
15480,17459601,295,0,35392,Tue Nov 18 05:29:00 +0000 2008,0,False,0.0
15850,17459601,295,0,35392,Tue Nov 18 05:29:00 +0000 2008,0,False,0.0
19905,17459601,295,0,35392,Tue Nov 18 05:29:00 +0000 2008,0,False,0.0
15127,15144184,5796,0,98327,Tue Jun 17 10:22:43 +0000 2008,266,False,0.0

In [ ]:
sorted_dfFF_Ratio.head(10)

,user_id,followers_count,following_count,status_count,created_at,favorites_count,verified,followers_following_ratio
32585,5402612,45326070,3,36737,Sun Apr 22 14:42:37 +0000 2007,0,True,1.510869e+07
5680,1362191299,1144904,1,14373,Thu Apr 18 15:15:27 +0000 2013,2,True,1.144904e+06
28077,1362191299,1144904,1,14373,Thu Apr 18 15:15:27 +0000 2013,2,True,1.144904e+06
34428,1362191299,1144904,1,14373,Thu Apr 18 15:15:27 +0000 2013,2,True,1.144904e+06
40134,1017158666,802064,1,1918543,Mon Dec 17 10:23:11 +0000 2012,139,True,8.020640e+05
8253,2231905548,486071,2,145543,Thu Dec 05 19:08:07 +0000 2013,0,True,2.430355e+05
24523,2231905548,486071,2,145543,Thu Dec 05 19:08:07 +0000 2013,0,True,2.430355e+05
25581,2231905548,486071,2,145543,Thu Dec 05 19:08:07 +0000 2013,0,True,2.430355e+05
35233,2231905548,486071,2,145543,Thu Dec 05 19:08:07 +0000 2013,0,True,2.430355e+05
22896,7587032,6354626,28,417237,Thu Jul 19 14:42:53 +0000 2007,5,True,2.269509e+05

## Top 10

In [ ]:
sorted_dfFF_Ratio.head(2200)

,user_id,followers_count,following_count,status_count,created_at,favorites_count,verified,followers_following_ratio
32585,5402612,45326070,3,36737,Sun Apr 22 14:42:37 +0000 2007,0,True,1.510869e+07
5680,1362191299,1144904,1,14373,Thu Apr 18 15:15:27 +0000 2013,2,True,1.144904e+06
28077,1362191299,1144904,1,14373,Thu Apr 18 15:15:27 +0000 2013,2,True,1.144904e+06
34428,1362191299,1144904,1,14373,Thu Apr 18 15:15:27 +0000 2013,2,True,1.144904e+06
40134,1017158666,802064,1,1918543,Mon Dec 17 10:23:11 +0000 2012,139,True,8.020640e+05
...,...,...,...,...,...,...,...,...
338,26063171,17959,955,193150,Mon Mar 23 18:52:59 +0000 2009,1407,False,1.880524e+01
38148,154096739,7370,392,195318,Thu Jun 10 10:42:59 +0000 2010,9191,False,1.880102e+01
40448,427819616,469,25,53741,Sun Dec 04 00:54:48 +0000 2011,46709,False,1.876000e+01
9505,4665855276,150,8,37533,Mon Dec 28 07:08:48 +0000 2015,0,False,1.875000e+01
21356,224227159,4834,258,48595,Wed Dec 08 13:32:33 +0000 2010,1210,False,1.873643e+01

## Status to followers ratio

In [ ]:
def ratioSF(df):
    if(df['followers_count'] == 0):
        df['status_followers_ratio'] = 0
    else:
        df['status_followers_ratio'] = df['status_count']/df['followers_count']
    return df

In [ ]:
dfSF_Ratio = df.apply(ratioSF,axis=1)

In [ ]:
sorted_dfSF_Ratio = dfSF_Ratio.sort_values(by=['status_followers_ratio','user_id'], ascending=False)
sorted_dfSF_Ratio

,user_id,followers_count,following_count,status_count,created_at,favorites_count,verified,status_followers_ratio
32525,3178633807,1,13,175129,Tue Apr 28 22:29:54 +0000 2015,120420,False,175129.0
40046,2866558446,1,15,95742,Mon Oct 20 07:07:20 +0000 2014,86850,False,95742.0
26162,2442621152,1,0,59831,Sun Apr 13 20:46:35 +0000 2014,0,False,59831.0
24966,448365795,1,5,47493,Tue Dec 27 22:47:20 +0000 2011,0,False,47493.0
18607,636446359,1,0,41334,Sun Jul 15 20:37:57 +0000 2012,0,False,41334.0
...,...,...,...,...,...,...,...,...
16747,212530923,0,12,445,Sat Nov 06 10:19:40 +0000 2010,22,False,0.0
10872,138371876,0,11,346,Thu Apr 29 10:56:09 +0000 2010,52,False,0.0
31059,108323778,0,19,23,Mon Jan 25 15:41:22 +0000 2010,0,False,0.0
15085,93382827,0,1,8,Sun Nov 29 11:35:22 +0000 2009,0,False,0.0
38280,68377612,0,47,7793,Mon Aug 24 10:27:39 +0000 2009,16389,False,0.0

## Account Active Time period

In [ ]:
from datetime import datetime

date_time_str = df['created_at'][0]
print(date_time_str)

Mon Feb 19 19:01:43 +0000 2018

In [ ]:
date_time_obj = datetime.strptime(date_time_str, '%a %b %d %H:%M:%S +0000 %Y')


print("The type of the date is now",  type(date_time_obj))
print("The date is", date_time_obj.strftime('%Y'))

The type of the date is now <class 'datetime.datetime'>
The date is 2018

In [ ]:
from datetime import date

current_date = date.today() 
print("Current year:", type(current_date.year))

Current year: <class 'int'>

In [ ]:
def dateFormatingtoYear(df):
    df['created_year'] = datetime.strptime(df['created_at'], '%a %b %d %H:%M:%S +0000 %Y').strftime('%Y')
    df['active_years'] = date.today().year - int(df['created_year'])
    return df

In [ ]:
df_Year = df.apply(dateFormatingtoYear,axis=1)

In [ ]:
df_Year

,user_id,followers_count,following_count,status_count,created_at,favorites_count,verified,created_year,active_years
0,965662700457033728,22,4,5140,Mon Feb 19 19:01:43 +0000 2018,0,False,2018,2
1,18000449,244,341,74854,Tue Dec 09 19:56:33 +0000 2008,5605,False,2008,12
2,2736948289,50,362,140,Sat Aug 16 09:59:12 +0000 2014,367,False,2014,6
3,708353900961603584,425,353,14438,Fri Mar 11 18:08:25 +0000 2016,17678,False,2016,4
4,187021634,269,1112,10360,Sun Sep 05 01:40:44 +0000 2010,6515,False,2010,10
...,...,...,...,...,...,...,...,...,...
42903,728280729457557504,5961,599,6927,Thu May 05 17:50:31 +0000 2016,1503,False,2016,4
42904,40379244,1828,601,197604,Sat May 16 01:19:01 +0000 2009,1102,False,2009,11
42905,2357114090,1257,1942,19969,Sat Feb 22 23:44:55 +0000 2014,4034,False,2014,6
42906,4533292933,4560,4881,91900,Sat Dec 12 00:47:43 +0000 2015,44886,False,2015,5
42907,84234962,22,37,1198,Thu Oct 22 03:56:12 +0000 2009,0,False,2009,11

In [ ]:
sorted_dfActiveYears = df_Year.sort_values(by=['active_years','user_id'], ascending=False)
sorted_dfActiveYears

,user_id,followers_count,following_count,status_count,created_at,favorites_count,verified,created_year,active_years
23137,247913,3852,3997,4617,Mon Dec 25 19:09:58 +0000 2006,490,False,2006,14
18169,36823,595579,1130,218892,Sat Dec 02 09:15:15 +0000 2006,723282,True,2006,14
3984,13476,2598,4765,18879,Tue Nov 21 10:03:04 +0000 2006,31462,False,2006,14
8733,12924,184,322,15772,Sat Nov 18 06:51:03 +0000 2006,41,False,2006,14
27458,12924,184,322,15772,Sat Nov 18 06:51:03 +0000 2006,41,False,2006,14
...,...,...,...,...,...,...,...,...,...
40200,947838044803076097,1,0,5151,Mon Jan 01 14:32:54 +0000 2018,0,False,2018,2
41027,947838044803076097,1,0,5151,Mon Jan 01 14:32:54 +0000 2018,0,False,2018,2
41945,947838044803076097,1,0,5151,Mon Jan 01 14:32:54 +0000 2018,0,False,2018,2
25994,947689414481891329,2,17,517,Mon Jan 01 04:42:18 +0000 2018,3,False,2018,2
18305,4856350516,1,3,1,Mon Jan 15 12:19:18 +0000 2018,0,False,2018,2

In [ ]:
df['active_years'] = df_Year['active_years']
df['status_follower_ratio'] = dfSF_Ratio['status_followers_ratio']
df['followers_following_ratio'] = dfFF_Ratio['followers_following_ratio']

In [ ]:
df

,user_id,followers_count,following_count,status_count,created_at,favorites_count,verified,active_years,status_follower_ratio,followers_following_ratio
0,965662700457033728,22,4,5140,Mon Feb 19 19:01:43 +0000 2018,0,False,2,233.636364,5.500000
1,18000449,244,341,74854,Tue Dec 09 19:56:33 +0000 2008,5605,False,12,306.778689,0.715543
2,2736948289,50,362,140,Sat Aug 16 09:59:12 +0000 2014,367,False,6,2.800000,0.138122
3,708353900961603584,425,353,14438,Fri Mar 11 18:08:25 +0000 2016,17678,False,4,33.971765,1.203966
4,187021634,269,1112,10360,Sun Sep 05 01:40:44 +0000 2010,6515,False,10,38.513011,0.241906
...,...,...,...,...,...,...,...,...,...,...
42903,728280729457557504,5961,599,6927,Thu May 05 17:50:31 +0000 2016,1503,False,4,1.162053,9.951586
42904,40379244,1828,601,197604,Sat May 16 01:19:01 +0000 2009,1102,False,11,108.098468,3.041597
42905,2357114090,1257,1942,19969,Sat Feb 22 23:44:55 +0000 2014,4034,False,6,15.886237,0.647271
42906,4533292933,4560,4881,91900,Sat Dec 12 00:47:43 +0000 2015,44886,False,5,20.153509,0.934235
42907,84234962,22,37,1198,Thu Oct 22 03:56:12 +0000 2009,0,False,11,54.454545,0.594595

In [ ]:
df.to_csv('FakeNews_Influencers_Nov09.csv',index=False)